aniso8601==1.0.0
appnope==0.1.0
APScheduler==3.6.1
cachetools==3.1.1
decorator==4.0.2
Flask==1.0
Flask-MongoKit==0.6
Flask-RESTful==0.3.4
gnureadline==6.3.3
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
httplib2==0.13.1
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.2
MarkupSafe==0.23
mongokit==0.9.1.1
path.py==8.1
pexpect==3.3
pickleshare==0.5
#pkg-resources==0.0.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
pymongo==2.8
pytz==2015.4
rsa==4.0
simplegeneric==0.8.1
six==1.9.0
traitlets==4.0.0
tzlocal==2.0.0
uritemplate==3.0.0
Werkzeug==0.10.4
